@import url('./global.css');

.flex {
    display:flex;
}

.flex-1 {
    flex:1;
}

.flex-col {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}

.gap-40 {
    gap:40px;
}
.gap-7 {
    gap: 7px;
}

h1 {
    font-size: 47px;
    line-height: 52px;
}
h2 {
    font-size: 38px;
    line-height: 40px;  
    color: var(--text-color);
    padding-bottom: 33px;
}

h3 {
    font-size: 30px;
    line-height: 35px;
}

li {
    list-style: none;
}

header .header {
    padding-top:31px;
    padding-bottom: 34px;
    background-color: var(--background-color);
}
.header {
      box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
}
.first{
    margin-top: 8px;
    padding-top: 58px;
    background-color:var(--background-color);
}
.firstScreen {
    background-color: #E3EBF1;
    border-radius: 10px ;
    padding:50px ;
}
.rightPart p  {
    color: #10843F;
    font-size: 18px;
    line-height: 25px;
}
p.textFirstScreen{
    margin-right: 33px;
    margin-bottom: 25px;
    margin-top: 22px;
    color:#333333;
    font-size: 18px;
    line-height: 24px;
}

p.textFirstScreen > span {
    font-weight: 700;
}

.btn {
    font-family: 'Raleway', serif;
    background-color: #17A550;
    border-radius: 5px;
    border-color: #E3EBF1;
    padding: 15px;
    color: #ffffff;
    border:none;
}
.btnGreen{
    font-size: 15px;
    line-height: 20px;  
}

.btnGreenSmall{
    font-size: 15px;
    line-height: 22px;
}

.second {
    padding-top: 70px;
    background-color:var(--background-color);
}

.textBlog {
    padding-top: 13px;
    font-size: 15px;
    line-height: 20px;
    margin-right: 40px;
}
.blogLeftPart {
    width: 100%;
    max-width: 555px;
}

.blogLeftPart h3 {
    padding-top: 9px;
}

.card {
    gap:15px;
    font-size: 18px;
    line-height: 25px
}

.card+.card {
    padding-top: 20px;
}
.third{
    padding-top: 74px;
    background-color:var(--background-color);
}

.playButton {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 100px;
    gap:4px;
}
.seeTheList {
    background: url("../images/backgroungImage.png") no-repeat center/cover;
    border-radius: 10px;
    padding-right: 40px;
}

.tool {
    padding-left:30px ;
    padding-top: 30px;
    padding-bottom: 30px;
    gap:12px;
    font-size: 28px;
    line-height: 32px;
}
.fourth {
    padding-top: 97px;
    background-color:var(--background-color);
}
.reviewCard {
    position: relative;
    background-color:#F7F9FA;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0 0 10px 10px;
}
.reviewText{
 
    padding-top: 24px;
    padding-left: 25px;
    padding-bottom: 39px;   
    padding-right: 33px;
}
.reviewText p{
    padding-top: 13px;
    font-family:'Raleway';
}

.reviewBtn{
    position: absolute;
    top:15px;
    left:15px;
    padding: 5px 10px;
    background-color: rgba(29, 47, 56, 0.8);
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    font-family: 'Raleway', serif;
    font-size: 12px;
    line-height: 20px;

}

.fifth{
    padding-top: 40px; 
    padding-bottom: 100px;
    background-color:var(--background-color);
}
.newsLetter {
    background: url("../images/backgroungImage.png") no-repeat center/cover;
    border-radius: 10px;
    padding:50px;
}

.letterWhite {
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius:  50%;
    align-items: center;
}

.imageLetter {
    margin-top: 20px;
    gap:10px;
}
.textSignUp {
    max-width: 500px;
    margin-top: 44px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
}
.formSignUp {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #AABCC5;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    
}
::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;;
}

.btnYellow {
    background-color: #FFC728;
    margin-top: 31px;
    margin-bottom: 23px;
    border: 0px;
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.privatePolicy {
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;
    color: #536D7A
}

footer {
    background-color:#F7F9FA ;
    padding-top: 59px;
    color: var(--text-color);
}

.logo {
    max-width:175px;
}

.socialNet a{
    margin-top: 12px;
    margin-bottom: 19px;
    width: 40px;
    height: 40px;
}

.text {
    width: 306px;
    margin-right: 51px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 20px;
}

p.text > span {
       font-weight: 700;
}

.h3 {
    padding-bottom: 12px;
    color:#333333;
}


footer img {
    max-width: 139px; 
    border-radius: 7px;
}

.footerCard {
    gap: 10px;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
}

.footerCard +.footerCard {
    margin-top: 20px;
}

.footerRigth {
    font-size: 16px;
    line-height: 20px;
}

.footerForm {
    width: 274px;
    height: 48px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #AABCC5;
    border-right: none;
}

.btnGrey {
    width: 81px;
    height: 48px;
    color:#ffffff;
    border-radius:  0px 5px 5px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    background-color: #768F9C;
    border-color: #AABCC5;
    border-left: none;
    border-right: none;
}

.footerList {
    padding-top: 20px;
    padding-bottom: 27px;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}

li+li {
    padding-top: 5px;
}
.textBrand{
    padding-top: 20px;
    margin-bottom: 126px;  
    border-top: 1px solid #536D7A;
}

.footerLink{
    padding-top: 22px;
    padding-bottom: 20px;
    border-top: 1px solid #536D7A; 
    font-size: 12px;
    line-height: 20px;
}

